
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}


body{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    position: relative;
}

.website-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 0;
    z-index: 10;
}

.menu-container{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

.menu-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-item{
    list-style: none;
    position: relative;
}

.menu-item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-style: italic;
}

.menu-item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 4px;
    width: 0;
    background-color: white;
    transform: skewX(-25deg);
    transition: 0.5s;
}

.menu-item:hover::after{
    width: 100%;
}

.control{
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    height: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.6;
}

.control:nth-of-type(2){
    transform: translateY(-50%) rotate(270deg);
    left: auto;
    right: 60px;
}

.control:hover{
    opacity: 1;
}

.slides-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.text-container{
    width: 800px;
    height: fit-content;
    z-index: 1;
    overflow: hidden;
}

#Slider{
    width: fit-content;
    height: 100%;
    display: flex;
    transition: 0.5s;
}

.text-slide-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    overflow: hidden;
    margin: auto;
}

.title{
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 4px;
    line-height: 70px;
    font-style: italic;
}