*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 300vh;
    width: 100%;
    position: relative;
}

.hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(Imagen2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    height: 30%;
    width: auto;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    list-style: none;
}

.menu-item{
    font-size: 14px;
    margin: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

.highlight{
    color: #0075fa;
}

.scrolled{
    color: #1d1d1d;
    background-color: #fafafa;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.scrolled .logo{
    filter: invert(1);
}