*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    box-sizing: border-box;
}

body{
    height: auto;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
}


/*Button fixed*/

.chat-button{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: url(Icon.svg);
    background-color: royalblue;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.logo{
    height: 40%;
}

.menu-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    font-family: 'Syncopate', sans-serif;
    font-size: 12px;
    margin-left: 2.5em;
    color: #f2f2f2;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover{
    color: royalblue;
}

.image-container{
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Hero.jpg);
    background-size: auto 100vw;
    background-position: top left;
    animation: bg-movement 40s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bg-movement{
    0%{
        background-position: top left;
    }
    50%{
        background-position: bottom right;
    }
    100%{
        background-position: top left;
    }
}

.page-title{
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 60px;
    font-family: 'Syncopate', sans-serif;
}

.post{
    font-size: 20px;
    width: 70%;
    margin: 5rem auto;
    line-height: 28px;
}