*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}


.pre-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgb(17, 17, 17), black);
    transition: all 0.5s;
}

.hidden{
    height: 0%;
}

.loading-text{
    color: rgba(255, 255, 255, 0.466);
    font-size: 100px;
    font-weight: 900;
    font-family: 'Syncopate', sans-serif;
    margin-bottom: 2rem;
    position: absolute;
    left: 60px;
    bottom: 60px;
}

.line{
    width: 30%;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.line-white{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: inherit;
}

.animate-transition{
    animation: loading 4s;
}


@keyframes loading {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.content{
    height: 100%;
    width: 100%;
    background: linear-gradient(#eeeeee, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syncopate', sans-serif;
}

.main-text{
    font-weight: 900;
    font-size: 120px;
    text-transform: uppercase;
}