*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100%;
}

.contact{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBEE;
}

.contact__image-wrapper{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__image{
    width: 100%;
}

.contact__right-side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding:0 7.3% 0 4.7%;
    width: 50%;
}

.contact__title{
    font-size: 100px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.contact__form-wrapper, .contact__input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.contact__input-line{
    margin-bottom: 45px;
}

.contact__label{
    font-size: 18px;
    font-weight: 600;
}

.contact__input{
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    background-color: transparent;
}

.contact__input--textarea{
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    resize: none;
    background-color: transparent;
}

.contact__submit-button{
    padding: 18px 55px;
    background-color: #121212;
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.contact__submit-button:hover{
    background-color: #2e2e2e;
}
