*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

header{
    height: 80px;
    width: 100%;
    padding: 0 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    z-index: 12;
}

.logo{
    height: 40%;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

.menu-item{
    font-size: 18px;
    margin-left: 2rem;
    cursor: pointer;
}

.hamburguer{
    height: 20px;
    width: 30px;
    position: relative;
    display: none;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.line:nth-of-type(1){
    top: 0;
    transform: translateY(0);
}

.line:nth-of-type(3){
    top: auto;
    bottom: 0;
    transform: translateY(0);
}


.menu-mobile{
    position: absolute;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    height: calc(100% - 80px);
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    transition: 1s;
}

.open{
    transition: 0.5s;
    transform: translateX(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.menu-mobile .menu-item{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(46, 46, 46);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    padding-left: 30px;
    box-sizing: border-box;
}

.menu-mobile .menu-item:hover{
    background-color: rgb(46, 46, 46);
}


@media (max-width: 768px){

    ul{
        display: none;
    }

    .hamburguer{
        display: block;
    }

}