*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1d1d1d, #383838);
    color: #E2E2E2;
}

.payment-form{
    height: 530px;
    width: 590px;
    border-radius: 40px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.1);
}

.form-title{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.input-line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.input-title{
    font-size: 16px;
    font-weight: 500;
}

input{
    outline: none;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    height: 40px;
    color: #E2E2E2;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

input::placeholder{
    color: #e2e2e263;
}

input[type=button]{
    width: 100%;
    height: 50px;
    background: linear-gradient(#0596c773, #0062b878);
    border-radius: 50px;
    outline: none;
    border-bottom: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    backdrop-filter: blur(10px);
}

.half-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half{
    width: 40%;
}