*{
    margin: 0;
    padding: 0;
    font-family: 'Audrey', cursive;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
}

.logo{
    height: 40%;
}

.active .logo, .active .hamburguer{
    filter: invert(1);
}

.hamburguer{
    height: 20px;
    width: 30px;
    position: relative;
    cursor: pointer;
}


.line{
    height: 2px;
    border-radius: 2px;
    width: 100%;
    background-color: #121212;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.line:nth-of-type(1){
    top: 0;
    transform: translateY(0);
}

.line:nth-of-type(3){
    top: auto;
    bottom: 0;
    transform: translateY(0);
}

.active .line:nth-of-type(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.active .line:nth-of-type(2){
    display: none;
}
.active .line:nth-of-type(3){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.menu-container{
    transform: translateY(-100%);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.open{
    transform: translateY(0);
}

ul{
    list-style-type: none;
    text-align: center;
}

.menu-item{
    font-size: 80px;
    font-weight: 600;
    margin: 2rem auto;
    color: #f2f2f2;
    opacity: 0.3;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 100;
}

.menu-item:hover{
    opacity: 1;
}

.hero-text{
    font-size: 80px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-transform: uppercase;
    line-height: 120px;
    font-weight: 100;
}

.hero-image{
    height: 90%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}