*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 8%;
}

.title{
    font-size: 90px;
    margin: 4rem 0 2rem 0;
}

.product-grid-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.product-container{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5rem;
}

.product-image-wrapper{
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.product-image{
    width: 100%;
}

.product-image:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.product-info-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.product-seller{
    text-transform: uppercase;
    font-size: 12px;
    color:#999;
}

.product-title{
    font-size: 20px;
    margin: 5px 0;
    font-weight: 500;
}

.product-price{
    color: #121212;
    font-size: 16px;
    font-weight: 600;
}