*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: fit-content;
    width: 15vw;
    border-radius: 10px;
    background-image: url(HUMKBLE.jpg);
    background-position: center;
    background-size: cover;
}

.music-player-container{
    background: linear-gradient(30deg, rgba(0,0,0,0.65), rgba(0,0,0,0.85));
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
}

.image-music-container{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0.6rem;
}

.song-image{
    width: 100%;
    border-radius: inherit;
}

.title-music-container{
    width: 80%;
    height: fit-content;
    color: white;
}

.song-title{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.song-author{
    margin-top: 0.1rem;
    font-size: 12px;
    color: rgb(167, 167, 167);
    letter-spacing: 0.1px;
}

.controls-music-container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container{
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar{
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress-bar::after{
    content: "";
    position: absolute;
    height: 100%;
    border-radius: inherit;
    width: 30%;
    background-color: white;
}

.time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left{
    margin-top: 0.3rem;
}

.main-song-controls{
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    filter: invert(1);
    opacity: 0.6;
    height: 80%;
    width: auto;
    cursor: pointer;
}

.back{
    transform: rotateY(180deg);
}

.icon:hover{
    opacity: 1;
}