*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-media-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.big-image-wrapper{
    height: 700px;
    background-color: rebeccapurple;
}

.product-media-wrapper{
    height: 700px;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.small-image-wrapper{
    overflow: hidden;
    width: 100%;
    height: 19%;
    margin-right: 1rem;
}

.product-image{
    height: 100%;
}

.product-info-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.product-info{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
}

.seller{
    text-transform: uppercase;
    color: #999;
    font-size: 15px;
    margin-bottom: 1rem;
}

.product-title{
    font-size: 32px;
    margin-bottom: 0.5rem;
}

.price{
    font-size: 18px;
}

.size-title{
    margin-bottom: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    color: #999;
}

.product-size-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f2f2f2;
}

input[type="radio"]{
    display: none;
}

.product-size{
    height: 40px;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #121212;
    cursor: pointer;
}

input[type="radio"]:checked + label{
    background-color: #121212;
    color: #f2f2f2;
}

.button{
    width: 100%;
    height: 70px;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 5rem;
}

.button:hover{
    background-color: #000;
}

.collapsible{
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #999;
    position: relative;
}

.collapsible::after{
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
}

.collapsible:last-of-type{
    border-bottom: 1px solid #999;
}