*{
    font-family: "Syncopate", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(15deg, #232323, #000);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.site-header{
    padding: 0 120px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.site-header__logo{
    filter: invert(1);
    width: 100px;
}

.site-header__icon{
    height: 20px;
    margin-left: 20px;
}

.site-header__icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header__menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header__menu-item{
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 100;
    margin: 0 20px;
}

.glass-product-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-product-wrapper__image{
    width: 50%;
    height: 100%;
    padding-right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-product-wrapper__image img{
    width: 50vw;
}

.glass-product-wrapper__info{
    width: 50%;
    background-color: rgba(122, 122, 122, 0.1);
    height: 100%;
    backdrop-filter: blur(50px);
    padding-left: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.glass-product-wrapper__info-subtitle{
    color: #f2f2f2;
    font-weight: 100;
    font-size: 50px;
}

.glass-product-wrapper__info-title{
    color: #f2f2f2;
    font-size: 90px;
    margin-bottom: 20px;
}

.glass-product-wrapper__info-description{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #BABABA;
    width: 60%;
    margin-bottom: 20px;
}

.glass-product-wrapper__atc{
    padding: 17px 40px;
    background-color: #f2f2f2;
    border-radius: 35px;
    border: none;
}