*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #F3F3F3;
    color: #202020;
}

.shape{
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    background: linear-gradient(20deg, #AD2F20, #79160A);
}

.right-bar-red{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow(-8px 0px 30px rgba(0, 0, 0, 0.35));
}

.product-img{
    width: 55%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    filter: drop-shadow(0px 18px 25px rgba(0, 0, 0, 0.35));
}

.product-info{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.icon{
    height: 100px;
}

.product-title{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;
}

.star{
    height: 30px;
    margin-right: 15px;
}

.price{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.button{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #DB4634;
    margin-top: 1rem;
    transition: 0.5s;
}

.button:hover{
    background-color: #b63729;
}