html,body{
    margin: 0;
    padding: 0;
}

.mainContent{
    height: 100vh;
    width: 100%;
}

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logoContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url(LogoKreySVG.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vh;
    mix-blend-mode: screen;
}